* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    scroll-behavior: smooth;
}

nav {
    background-color: #2E2C41;
    width: 20%;
    display: flex;
    flex-direction: column;
    padding-top: 80px;
    height: 100vh;
    position: absolute;

    a {
        text-decoration: none;
        color: white;
        font-weight: 400;
        font-family: Arial, Helvetica, sans-serif;
        padding: 15px 40px;
        justify-content: center;
        /* transition: all 0.3s ease-in-out; */

        .fa-solid {
            color: #73B41A;
            display: inline-block;
            margin-right: 15px;
            font-size: 20px;
        }

        &:hover {
            border-left: 3px solid #73B41A;
            background-color: #211e3f;
        }

        &:active {
            border-left: 3px solid #73B41A;
            background-color: #211e3f;
        }

    }

}

header {
    margin-left: 20%;
    height: 50px;
    display: flex;


    .search-area {
        .fa-solid {
            color: #A6A6A8;
            display: inline-block;
            margin: 0px 15px;
            font-size: 20px;
            position: relative;
            top: 4px;
        }


        input {
            width: 700px;
            height: 30px;
            border-radius: 15px;
            border: none;
            outline: none;
            padding-left: 15px;
            margin-top: 10px;
            background: transparent;
            font-weight: 100;

        }
    }

    .user-area {
        display: inline-block;
        margin-left: 120px;

        a {
            display: inline-block;
            text-decoration: none;
            color: #A6A6A8;
            font-weight: 200;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 20px;
            margin: 10px 10px;

            .circle {
                display: inline-block;
                width: 13px;
                height: 13px;
                color: white;
                background-color: #1905ce;
                border-radius: 50%;
                text-align: center;
                font-weight: 5;
                font-size: 10px;
                font-family: Arial, Helvetica, sans-serif;
                padding-top: 0.8px;
                position: absolute;
            }

            .fa-solid {
                display: inline-block;
                font-size: 20px;
                margin-right: -7px;
                position: relative;
            }

            .user-img {
                width: 25px;
                height: 25px;
                border-radius: 50%;
                object-fit: cover;
                position: relative;
                top: 3px;
                margin-left: 10px;
            }

            .fa-caret-down {
                font-size: 15px;
                display: inline-block;
                margin-left: -15px;
            }
        }
    }
}

.content-area {
    background-color: #F5F5F5;
    overflow: auto;
    height: calc(100vh - 50px);
    left: 273px;
    position: absolute;
    width: 80%;
    padding: 25px 40px;
}

.heading {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    h1 {
        font-size: 30px;
        font-weight: 550;
        color: #5e548f;
    }

    p {
        font-size: 15px;
        font-weight: 400;
        color: #968ebd;
        margin-top: 5px;
    }
}

.cards {
    width: 100%;
    display: flex;
    gap: 50px;
    margin-top: 20px;
}

.card {
    background-color: white;
    width: 30%;
    height: 320px;
    border-radius: 10px;
    box-shadow: 3px 3px 10px rgba(182, 178, 178, 0.961);
    padding: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    &:hover {
        box-shadow: 0 12px 30px rgba(0, 0, 0, 0.2);
        transform: translateY(0px) scale(1.05);
    }
}

.card #profile img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
}

.card #profile {
    text-align: center;
    margin-top: 10px;

}

.card #profile p {
    color: #968ebd;
    line-height: 13px;
}

.education p {
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 5px;
    /* text-align: center; */
    margin-left: -30px;
    justify-content: center;
}

.card .sp {

    display: flex;
    justify-content: space-between;
    font-size: smaller;
    color: #968ebd;
}

.card .sp a {
    text-decoration: none;
    color: #968ebd;
    font-size: 15px;
}

.card #date {
    font-size: 25px;
    font-weight: 600;
    color: #5e548f;
    margin: 20px 0px 15px -20px;
    border-left: 3px solid #73B41A;
    padding-left: 30px;
}

.card #circle {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #73B41A;
    display: inline-block;
    font-size: 13px;
    text-align: center;

}

.card #Interviews {
    font-size: 13px;
    font-weight: 400;
    color: rgb(0, 0, 0);
    line-height: 20px;
    margin-left: 15px;
    margin-bottom: 40px;
}

.card #company {
    margin-left: 10px;
    font-size: 14px;
    font-weight: 400;
}

.card strong {
    margin-left: 34px;

}

.card #time {
    margin-left: 34px;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 50px;
}

table {
    width: 100%;
    margin: 20px 0px 0px 0px;
    border-collapse: collapse;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}


table tr th:nth-child(1) {
    border-radius: 10px 0px 0px 0px;
}

table tr th:nth-child(5) {
    border-radius: 0px 10px 0px 0px;
}
tr{
    border-bottom: 1px solid #0d0101;
}
table tr th {
    background: #E6EBF2;
    text-align: left;
    padding: 15px;
    font-weight: 400;
}

table tr td {
    padding: 15px;
    font-weight: 300;
    margin: 5px 0px;
    background-color: white;
}

table tr td .logo {
    font-size: 20px;
    display: inline-block;
    width: 35px;
    height: 35px;
    padding-top: 2px;
    text-align: center;
    border-radius: 50%;
    background-color: #0B64D9;
    margin-right: 30px;
    color: white;
}

table tr td a {
    text-decoration: none;
    color: black;
    display: inline-block;

}